name: Build & Test
permissions:
  contents: read
  pull-requests: write
on:
  pull_request:
    branches:
      - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Setup Golang
          uses: actions/setup-go@v5
          with:
            go-version: '1.23'
            cache: true

        - name: Build
          run: go build ./...

        - name: Test
          run: go test ./...